.colorSchemeWhite-33VuSr .link-oDO0Ir, .colorSchemeWhite-33VuSr .logo-3LF899, .colorSchemeWhite-33VuSr .menuIcon-3UgAfy {
    color: white;
}

.navbar-brand {
    font-size: 2.25rem;
    color: white !important;
}

.navbar {
    background-color: #7289da !important;
}