nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/') Plugit
  ul.navbar-nav.mr-auto
  a(href='/settings')
    button.btn.btn-light.btn-md
      i.fas.fa-cog
      span   Settings