nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/dashboard') Plugit
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
    a(href='/dashboard/settings')
      button.btn.btn-light.btn-md
        i.fas.fa-cog
        span   Settings