[submodule "scss/variable/mixins/scss-mum"]
	path = scss/variable/mixins/scss-mum
	url = ../../MarleyPlant/scss-mum
[submodule "scss/variable/mixins/scss-flex-dat"]
	path = scss/variable/mixins/scss-flex-dat
	url = ../../gtusler/scss-flex-dat
