[submodule "public/scss/variable/mixins/SCSS-MUM"]
	path = public/scss/variable/mixins/SCSS-MUM
	url = ../../MarleyPlant/SCSS-MUM
[submodule "public/scss/variable/mixins/scss-flex-dat"]
	path = public/scss/variable/mixins/scss-flex-dat
	url = ../../gtusler/scss-flex-dat
