{{>navbar}}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h4>{{discord.messages}} Messages sent today.</h4>
      <h4>{{discord.commands}} Commands Executed.</h4>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <a href="/bot/startup/"><button type="button" class="btn btn-primary">Start</button></a>
        <a href="/bot/shutdown/"><button type="button" class="btn btn-danger">Stop</button></a>
      </div>
    </div>
  </div>
</div>
