extends layout

block content
  #index
    #content.container-fluid
      h2.title Sign In With Discord Now
      a(href='/auth')
        button.btn.btn-lg.btn-light
          include includes/discordlogo