extends layout

block content
  main#dashboard.settings
    include includes/navbar
    #content.content.container
      .col
        .container-fluid
          h2 Settings
          br
          .btn-group-vertical
            each setting, i in settings
              if setting.active
                button.btn.btn-primary.btn-lg.active
                  i.fas(class='fa-' + setting.icon)
                  span= "  " + setting.name
              else
                button.btn.btn-primary.btn-lg 
                  i.fas(class='fa-' + setting.icon)
                  span= "  " + setting.name
            button(onclick="window.location.href='/auth/logout'").btn.btn-danger.btn-lg Logout
      .col
        .container-fluid.settings-properties
          h2
            i.fas.fa-cog
            span  General Settings
          br
          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text Command Prefix
            .input(type='text').form-control !
            .div.input-group-append
              span.input-group-text "Example Command From Bot."
          .div.input-group.mb-3
            .div.input-group-prepend
              span.input-group-text User Welcome Message
            .input(type='text').form-control 
          .btn-group
            button.btn.btn-large.btn-success Start
            button.btn.btn-large.btn-danger Stop



