extends layout

block content
  main#dashboard.settings
    include includes/navbar
    #content.content.container
      .col
        .container-fluid
          h2 Links
      .col
        .container-fluid
          h2 Properties
