#dashboard {
    .content {
        @include breakpoint( max-height 600px ) {
            min-height: 70vh;
        }

        @include breakpoint( min-height 600px ) {
            min-height: 75vh;
        }

        @include breakpoint( min-height 700px ) {
            min-height: 80vh;
        }

        @include breakpoint( min-height 900px ) {
            min-height: 85vh;
        }

        @include flex-dat('top', 'row');
        .server {
            @include flex-dat('center', 'column');
            border-color: #7289da;
            margin: 2rem;
            padding: 1rem;
            .card-img {
                border-radius: 50% !important;
                width: 5rem;
                border: 2px solid #7289da;
            }
        }   
    }

    .add-server {
        @include flex-dat('center');
        &-text {
            text-transform: capitalize;
        }
    }
}